<button {{action "refreshFruits"}}>Refresh</button>
<button {{action "findOne"}}>Find One</button>

<ul>
    {{#each fruits as |fruit|}}
      <li>
          <p>
              ID : {{fruit.id}} <br>
              Name : {{fruit.name}} <br>
              Colour : {{fruit.colour}} <br>
              Taste : {{fruit.taste}} <br>
              <button {{action "deleteFruit" fruit}}>Delete</button>
          </p>
      </li>
    {{/each}}
</ul>

{{outlet}}
